1.what is a variable in python?

Variables are containers that is used to store data's.

2.How do you create a variable

variable are created when you assign a value to it.
No need to defined data type keyword to create a variable in python

In [1]:
name="lalitha"

3.How do you check the value within a variable?

To check the value within a variables use print function or give variable name run it

In [2]:
print(name)

lalitha

In [3]:
name

'lalitha'

4.How do you create multiple variables in a single statement?

In [4]:
x,y,z=10,20,30

In [7]:
x

10

In [8]:
y

20

In [9]:
z

30

5.How do you create multiple variables with the same value?

In [10]:
color1=color2=color3="purple"

In [11]:
color1

'purple'

In [12]:
color2

'purple'

In [13]:
color3

'purple'

6.How do you change the value of a variable?

again creating variable in same name and assigning another value or  update value using assingment  operator

In [12]:
name="leelavathi"
name

'leelavathi'

7.How do you reassign a variable by modifying the previous value?

modifying the use replace function.

In [14]:
name.replace("vathi"," P")

'leela P'

8.What does the statement counter += 4 do?

 the statement counter +=4  increment counter variable. In this counter variable is incremented by 4.

9.What are the rules for naming a variable?

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain lowercase or uppercase letters,digits or number.
* Variable name are case sensitive

10.Are variable names case-sensitive? Do a_variable, A_Variable, and A_VARIABLE represent the same variable or different ones

Yes, variable names are case sensitive.

a_variable, A_Variable and A_VARIABLE represent different ones, because in python variable case sensitive. It will take these as different variables.

In [20]:
a_variable = 23
a_variable

23

In [21]:
A_Variable =34
A_Variable

34

In [22]:
A_VARIABLE = 45
A_VARIABLE

45

11.What is Syntax? Why is it important?

syntax defines a set of rules that are used to create a  Program.

it is important because we can't understand the code's. If we don't have syntax it will give many error's in programming.
Syntax is very important for programming.

12.What happens if you execute a statement with invalid syntax?

if we execute a statement with invalid syntax python will give syntax error.

In [24]:
name2[]=lalitha

SyntaxError: invalid syntax (3219291532.py, line 1)

13.How do you check the data type of a variable?

to check variable's data type use type() function.

In [25]:
type(name)

str

14.What are the built-in data types in Python?

**text type**:str
**Numeric Types**:	int, float, complex
**Sequence Types**:	list, tuple, range
**Mapping Type**:	dict
**Set Types**:	set, frozenset
**Boolean Type**:	bool
**Binary Types**:	bytes, bytearray, memoryview
**None Type**:	NoneType

15.What is a primitive data type?

primitive data types are a set of basic data types from which all other data types are constructed.

 primitive data types are integer,boolean,string,float.

16.What are the primitive data types available in Python?

integer, boolean, string, float, none.

17.What is a data structure or container data type?

 container is a class or a data structure whose instances are collections of other objects. they store objects in an organized way that follows specific access rules. The size of the container depends on the number of objects (elements) it contains.

A container is an abstract data type whose purpose is to hold objects of some other type.

18.What are the container types available in Python?

The container types available in python is: list,tuple,dictionary,set

In [1]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [2]:
tuple1=(1,2,3,4)
tuple1

(1, 2, 3, 4)

In [3]:
dictionary ={
    'name':'lalitha',
     'age':20
}
dictionary

{'name': 'lalitha', 'age': 20}

In [4]:
sets={'apple','banana','grapes'}
sets

{'apple', 'banana', 'grapes'}

19.What kind of data does the Integer data type represent?

integer represent positive or negative whole number.

In [5]:
int1=234
int1

234

In [6]:
int2=-234
int2

-234

20.What are the numerical limits of the integer data type?

the numerical limits of the integer data type is between -2,147,483,647 to 2,147,483,647 for 9 or 10 digits of precision.

But in Python, there is no limit to how long an integer value can be.

In [8]:
int3=2147483649
int3

2147483649

21.What kind of data does the float data type represent?

the float data type represent decimal point.there are no limits in the value or the number of digits before or after decimal point.

In [7]:
float1=344.6678
float1

344.6678

In [8]:
float2=-3454.68769
float2

-3454.68769

22.How does Python decide if a given number is a float or an integer?

if your variable has decimal point value python automatically take it as float. If your variable has whole number value in takes as integer.

In [9]:
age=20
age

20

In [10]:
height=150.55
height

150.55

23.How can you create a variable which stores a whole number, e.g., 4 but has the float data type?

In [12]:
a= float(4)
a

4.0

24.How do you create floats representing very large (e.g., 6.023 x 10^23) or very small numbers (0.000000123)?

In [20]:
c=6.023e23
print(c)

6.023e+23

In [24]:
c2=123e-9
c2

1.23e-07

25.What does the expression 23e-12 represent?

In [13]:
b=23e-12
b

2.3e-11

26.Can floats be used to store numbers with unlimited precision?

floating point numbers can only store a certain number of significant digits

* Python float values are represented as 64-bit double-precision values. 1.8 X 10308 is an approximate maximum value for any floating-point number.
* Floats have limited precision, which means that you may lose some precision when performing arithmetic operations.

In [5]:
d=1.82e310
d

inf

27.What are the differences between integers and floats?

* integer stores positive or negstive whole number
* float stores real number like 2.35,65.67.decimal point values
* you can't store decimal value in integer.
* integer has limit -2,147,483,647 to 2,147,483,647 for 9 or 10 digits of precision.But in Python, there is no limit to how long an integer value can be.
* Floats have limited precision, which means that you may lose some precision when performing arithmetic operations.

In [10]:
int4=-2147283649
int4

-2147283649

28.How do you convert an integer to a float?

You can convert integer to float using float() function.

In [11]:
int_to_float=float(56)
int_to_float

56.0

29.How do you convert a float to an integer?

You can also convert float to integer using int() function.

In [12]:
float_to_int=int(45.78)
float_to_int

45

30.What is the result obtained when you convert 1.99 to an integer?

In [13]:
int5=int(1.99)
int5

1

if we convert 1.99 to integer, it will give 1 as answer.

31.What are the data types of the results of the division operators / and //?

* division operator / is a float data type because the result we get is deciaml value.
* division operator // is a integer data type because the result of this operator is whole number. It will round off the decimal result.

In [14]:
division1 = 23/34
division1

0.6764705882352942

In [15]:
type(division1)

float

In [17]:
division2=23//34
division2

0

In [18]:
type(division2)

int

32.What kind of data does the Boolean data type represent?

Boolean data type represent True or False data. It only represent True or False.

In [20]:
boolean1 = True
boolean1

True

In [21]:
boolean2 = 34>67
boolean2

False

33.Which types of Python operators return booleans as a result?

* Logical and Comparision operators will give boolean as result.
* That are >, <, >=, <=, ==, !=, and, not, or.

In [22]:
boolean3=78==78
boolean3

True

In [25]:
boolean4 = True and False
boolean4

False

In [26]:
boolean5 = 56 != 67
boolean5

True

34.What happens if you try to use a boolean in arithmetic operation?

If we use arithmetic in boolean it wouldn't give any error. Instead it take True as 1 and False as 0 then do the arithmetic operation. programming language True is 1 and Fasle is 0.

In [31]:
arithmeticInBoolean = True + 34
arithmeticInBoolean

35

In [32]:
arithmeticInBoolean2 = False  - 45
arithmeticInBoolean2

-45

35.How can any value in Python be covered to a boolean?

* Evaluation of Boolean Expressions in Python
* Mostly, if any value has some type of content in it, it is finally evaluated to True when we use the bool() method on it. In fact, except for empty strings, all the strings evaluate to True. Any number except 0, evaluates to True

In [34]:
boolean6=bool(45)
boolean6

True

36.What are truthy and falsy values?

In Python, individual values can evaluate as either True or False. Values that evaluate to True are "Truthy", and values that evaluate to False are "Falsy".

if you give inside bool function false or 0 it will give false ,it is called falsy.
if you give true or 1 it will give true, it is called truthy.

In [1]:
bool(1)

True

In [2]:
bool(True)

True

In [3]:
bool(0)

False

In [4]:
bool(False)

False

37.What are the values in Python that evaluate to False?

* The number zero ( 0 )
* An empty string ''
* False.
* None.
* An empty list []
* An empty tuple ()
* An empty dictionary {}

In [5]:
bool("")

False

In [7]:
bool()

False

In [8]:
bool([])

False

In [9]:
bool(())

False

In [10]:
bool({})

False

38.Give some examples of values that evaluate to True.

* A non-zero number (int, real or complex).
* A non-zero length string, list, tuple, dictionary or set.
* The True object.
* Almost all other objects that aren't in the falsy list.
* number (1)

In [15]:
bool(1)

True

In [16]:
bool([1,3,4])

True

In [17]:
bool("lali")

True

In [18]:
bool({'car':'audi'})

True

39.What kind of data does the None data type represent?

None data type represent none value.

In [6]:
none1=None
print(none1)

None

40.What is the purpose of None?

none is used to assign when there is null value or no vlaue.
if you have variable but don't have value to it you can define none to it.
it wouldn't give error.

41.What kind of data does the String data type represent?

String data type represent character, letter, or a text values.

In [3]:
String = 'MSccs'
String

'MSccs'

42.What are the different ways of creating strings in Python?

* single Quotes
* double Quotes
* trible Quotes
* str function
* concatenation
* String relication
* Using escape character
* Formatted string

In [2]:
str1='car'
str1

'car'

In [3]:
str2="bike"
str2

'bike'

In [4]:
str3="""my name is lalitha
i am stduying msc cs
"""
str3

'my name is lalitha\ni am stduying msc cs\n'

In [6]:
str4=str('van')
str4

'van'

43.What is the difference between strings creating using single quotes, i.e. ' and ' vs. those created using double quotes, i.e. " and "?

* Single quotes for anything that behaves like an Identifier.
* Double quotes generally we used for text
* Single quotes are used for regular expressions, dict keys or SQL
* Double quotes are used for string representation

44.How do you create multi-line strings in Python?

To create multi-line string use triple quotes.

In [8]:
multiline="""lalitha is good girl
living in palladam
mother name leelavathi"""
multiline

'lalitha is good girl\nliving in palladam\nmother name leelavathi'

45.What is the newline character, \n?

* It is an escape sequence.
* After the character \n new line will start
* it represent a line break

In [9]:
print(multiline)

lalitha is good girl
living in palladam
mother name leelavathi

46.What are escaped characters? How are they useful?

* To insert characters that are illegal in a string, use an escape character.
* An escape character is a backslash \ followed by the character you want to insert

* \' - Single Quote	
* \" - double quotes
* \\ - Backslash	
* \n - New Line	
* \r - Carriage Return	
* \t - Tab	
* \b - Backspace	
* \f - Form Feed	
* \ooo - Octal value	
* \xhh - Hex value

In [11]:
print("audi car is \'best'.")

audi car is 'best'.

In [12]:
print('Audi is\tprice is\n high')

Audi is	price is
 high

47.How do you check the length of a string?

To check string length use len() function.

In [13]:
Name = 'Msccs'

In [14]:
len(Name)

5

48.How do you convert a string into a list of characters?

split() method split a string into a list of string at every occurence of provided character.
you can also use list data type list() to convert string to list of character.

In [16]:
"sun,mon,tue,wed,turs,fri".split(",")

['sun', 'mon', 'tue', 'wed', 'turs', 'fri']

In [32]:
list(Name)

['M', 's', 'c', 'c', 's']

49.How do you access a specific character from a string?

using square bracket []

In [17]:
car='audi'

In [19]:
car[0]

'a'

50.How do you access a range of characters from a string?

same method using square bracket [ ] and giving range with colon.

In [20]:
range_indexing = "MSc computer science"

In [22]:
range_indexing[3:9]

' compu'

51.How do you check if a specific character occurs in a string?

We can check if a specific character occurs in a string using in operator.

In [25]:
"a" in range_indexing

False

52.How do you check if a smaller string occurs within a bigger string?

it is also checked using in operator

In [26]:
'computer' in range_indexing

True

53.How do you join two or more strings?

* using + operator
* using format() method
* using f-string

In [27]:
string2="lalitha"
string3="palanisamy"
string2+string3

'lalithapalanisamy'

In [28]:
print('{}{}'.format(string2,string3))

lalithapalanisamy

In [31]:
print(f'{string2}{string3}')

lalithapalanisamy

54.What are "methods" in Python? How are they different from functions?

Methods are functions associated with data types and are accessed using (.) notation.

Methods are a pwowerful techniques fpr associating common operatio with values of specific data types.

Methods are built-in functions that are present in python

A function is a reusable set of instructions.it takes one or more inputs.
Perform certain operations and often return an output

* Method definitions are always present inside a class
* function is no need to define inside class
* Method Associated with the class object.
* function Not associated with any objects
* Method requires the self as its first argument
* function doesn’t require any self-argument

55.What do the .lower, .upper and .capitalize methods on strings do?

* .lower change upper case string to lower case string
* .upper change lower case string to upper case string
* .capitalize change fisrt letter of the word to upper case

In [34]:
lowercase="LALITHA"
lowercase.lower()

'lalitha'

In [35]:
uppercase="computer science"
uppercase.upper()

'COMPUTER SCIENCE'

In [36]:
capitalize='computer science'
capitalize.capitalize()

'Computer science'

56.How do you replace a specific part of a string with something else?

We can replace a specific part using replace method.

replace method replaces a part of the string with another string.

In [37]:
replaces="wednesday"

In [38]:
replaces.replace("wednes","Thurs")

'Thursday'

57.How do you split the string "Sun,Mon,Tue,Wed,Thu,Fri,Sat" into a list of days?

using split() method.
Split()method split string into a list of string at every occurence of provided character.

In [40]:
lists="Sun,Mon,Tue,Wed,Thu,Fri,Sat" .split(",")
lists

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

58.How do you remove whitespace from the beginning and end of a string?

using strip () method,it removes whitespace from beginning and end of a string.

In [1]:
space="   lalitha      "
space.strip()

'lalitha'

59.What is the string .format method used for? Can you give an example?

format method used for combines value of other data type e.g integer,float,boolean,list.It is use also concatenate a string.

Use format to construct output message display.

In [2]:
mark= 50
name="ajay"

In [5]:
print("{} mark is {}".format(name,mark))

ajay mark is 50

60.What are the benefits of using the .format method instead of string concatenation?

the benefits of using .format instead of string concatenation:
   * Easy concatenated and easly readed
   * We can concatenate another type variable to string.
   * It is very easy method to concatenate string to another variables
   * USe placeholder {} to concatenate variable.

61.How do you convert a value of another type to a string?

To convert another type value to string use str() function.

In [2]:
str(44)

'44'

In [3]:
str(True)

'True'

62.How do you check if two strings have the same value?

To check if two string have same value use == operator.

In [5]:
str6 = "name"
str7 ="name"

In [6]:
str6 == str7

True

In [7]:
str8 = "age"

In [8]:
str6 == str8

False

63.Where can you find the list of all the methods supported by strings?

We can find in python official documentation "docs.python.org string" in this link you can find it. inside this documetation topic python string methods.

you can also use help function to find it

In [20]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

64.What is a list in Python?

* A list in python is an ordered collection of values.List can hold values of different types and support operations remove,add,change value.
* List have the type list

65.How do you create a list?

* To create a list, enclose a sequence of values within square bracket [ and ] separated by comma.

In [11]:
fruit = ["apple","grapes",'kiwi']
fruit

['apple', 'grapes', 'kiwi']

66.Can a Python list contain values of different data types?

Yes, Python list can contain values of different data type.

In [13]:
mixed_value =[13,None,"fruit",fruit,True]
mixed_value

[13, None, 'fruit', ['apple', 'grapes', 'kiwi'], True]

67.Can a list contain another list as an element within it?

Yes, it can contain  another list n element within it.

In [14]:
mark=[34,76,67,87]

In [16]:
list_in_list = [mark,53,79]
list_in_list

[[34, 76, 67, 87], 53, 79]

68.Can you create a list without any values?

In [17]:
empty_list = []

In [18]:
empty_list

[]

69.How do you check the length of a list in Python?

Using len() we can check length of a list in python

In [19]:
len(list_in_list)

3

70.How do you retrieve a value from a list?

Using  index inside square bracket [ ].

In [20]:
fruits=["kiwi","pineapple","peach"]

In [23]:
fruits[2]

'peach'

71.What is the smallest and largest index you can use to access elements from a list containing five elements?

Smallest index is 0 and largest index is 4

In [24]:
list_1=[34,67,89,54,34]

In [25]:
list_1[0]

34

In [26]:
list_1[4]

34

72.What happens if you try to access an index equal to or larger than the size of a list?

It Will give error that is index out of range. If you give index equal to size that wrong because index starts with 0 which means 0,1,2,3,4 we get the size.

In [27]:
list_1[5]

IndexError: list index out of range

In [28]:
list_1[8]

IndexError: list index out of range

73.What happens if you try to access a negative index within a list?

if We try to access negative index within list, it will give last index value. negative means reverse order.

In [29]:
list_1[-2]

54

74.How do you access a range of elements from a list?

It is also accessed using index within square bracket []. Using colon as range indicater.

In [31]:
list_2=[23,66,88,78,99,67]

In [32]:
list_2[2:5]

[88, 78, 99]

75.How many elements does the list returned by the expression a_list[2:5] contain?

The expression a_list[2:5] contain 3 elements,becasue end index doesn't included.it will give element before end index.

In [33]:
a_list=[True,45,56.7,"car",None,345]

In [34]:
a_list[2:5]

[56.7, 'car', None]

76.What do the ranges a_list[:2] and a_list[2:] represent?

* a_list[:2] repersent elements before index 2,means it will give value in 0 and 1 index.
* a_list[2:] represent elements after index 2, means it will give value in 2 and util end index.

In [35]:
a_list[:2]

[True, 45]

In [36]:
a_list[2:]

[56.7, 'car', None, 345]

77.How do you change the item stored at a specific index within a list?

To change the value at a specific index within a list using the assignment operation.

In [37]:
a_list[3]="bike"

In [38]:
a_list

[True, 45, 56.7, 'bike', None, 345]

78.How do you insert a new item at the beginning, middle, or end of a list?

To insert new item at the beginning,middle,end use .insert () method.

In [40]:
a_list.insert(0,False)
a_list

[False, False, True, 45, 56.7, 'bike', None, 345]

In [41]:
a_list.insert(3,78)
a_list

[False, False, True, 78, 45, 56.7, 'bike', None, 345]

In [44]:
a_list.insert(9,None)
a_list

[False, False, True, 78, 45, 56.7, 'bike', None, 345, None, None]

Also to insert new item to end use append() method.

In [45]:
a_list.append(67)
a_list

[False, False, True, 78, 45, 56.7, 'bike', None, 345, None, None, 67]

79.How do you remove an item from al list?

To remove a item from list use .remove() method.

Also can use pop method to remove item.it remove item based on given index.

In [46]:
a_list.remove(None)

In [47]:
a_list

[False, False, True, 78, 45, 56.7, 'bike', 345, None, None, 67]

80.How do you remove the item at a given index from a list?

Pop method is used to remove a item at a given index from list.If you didn't give any index number inside pop it will remove end item or element from list.

In [48]:
a_list.pop(0)

False

In [49]:
a_list

[False, True, 78, 45, 56.7, 'bike', 345, None, None, 67]

In [50]:
a_list.pop()

67

In [51]:
a_list

[False, True, 78, 45, 56.7, 'bike', 345, None, None]

81.How do you check if a list contains a value?

You can test whether a list contains a value using the in operator. In operator test whether the list contains the value or not and return True or False.

In [52]:
56.7 in a_list

True

82.How do you combine two or most lists to create a larger list?

To combine two or most list to create a larger list use + operator.

In [53]:
large_list=fruit+[23,788,788,677.888]+[True,False,None]

In [54]:
large_list

['apple', 'grapes', 'kiwi', 23, 788, 788, 677.888, True, False, None]

83.How do you create a copy of a list?

To create copy of a list use .copy () method.

In [55]:
a_list_copy = a_list.copy()

In [56]:
a_list_copy

[False, True, 78, 45, 56.7, 'bike', 345, None, None]

84.Does the expression a_new_list = a_list create a copy of the list a_list?

In [57]:
a_new_list=a_list

In [58]:
a_new_list

[False, True, 78, 45, 56.7, 'bike', 345, None, None]

In [59]:
a_new_list[3]="car"

In [60]:
a_list

[False, True, 78, 'car', 56.7, 'bike', 345, None, None]

No, it doesn't create copy of a_list. it give's reference of a_list.If you change in a_new_list it will  affect a_list.

85.Where can you find the list of all the methods supported by lists?

We can find in python official documentation "docs.python.org string" in this link you can find it. inside this docmentation it is under python list methods topic.

You can also use help function to find it

In [19]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

86.What is a Tuple in Python?

* Stored values in normal brackets ()
* Values in order ways
* Cannot change or remove or add in it.
* order  collection of values,similar to list
* tuple is immutable
* it has tuple data type

In [1]:
tuple_1=("a","b","c","d")

In [2]:
tuple_1

('a', 'b', 'c', 'd')

87.How is a tuple different from a list?

* Tuple is created within normal brackets ( ) but list is created within square brackets [].
* Tuple is immutable means cannot add or change or remove, but list is mutable means we can add,change and also remove values.
* when you try to copy the tuple, you get a new reference to the same tuple,but list can copyed using copy method.

88.Can you add or remove elements in a tuple?

We cann't add or remove elements in tuple,because it is immutable.if you do that it will give error

In [3]:
tuple_1[0]=34

TypeError: 'tuple' object does not support item assignment

In [4]:
tuple_1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

89.How do you create a tuple with just one element?

You can also create a tuple with just one element by typing a comma after it. Just wrapping it with parentheses ( and ) won't make it a tuple

In [5]:
tuple_2=45,

In [6]:
tuple_2

(45,)

In [7]:
tuple_3=(4)

In [8]:
tuple_3

4

90.How do you convert a tuple to a list and vice versa?

* You can use tuple function to convert list to tuple.
* Same use list function to convert tuple to list.

In [9]:
tuple_4=(2,4,6,8)

In [10]:
tuple_4

(2, 4, 6, 8)

In [12]:
list_5=[2,54,67,886]

In [13]:
list_5

[2, 54, 67, 886]

In [14]:
tuple(list_5)

(2, 54, 67, 886)

In [15]:
list(tuple_4)

[2, 4, 6, 8]

91.What are the count and index method of a Tuple used for?

In [16]:
help(tuple.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

Count method used to get number of occirrences of value.

In [30]:
help(tuple.index)

index method used to get first index of value.Raises valueError if the value is not present.

In [33]:
?tuple_1.index

92.What is a dictionary in Python?

A dictionary is an unordered collection of items. Each item stored in a dictionary as keys and values.

You can use a key to retrieve the corresponding value from dictionary.dictionary data type is dict.

93.How do you create a dictionary?

Dictionaries are created by enclosing key-value pairs within curly braces.

Dictionary can also be created using dict () function.

In [34]:
dictionary_1={
    'Fruit':'apple',
    'price':120,
    'Kg':1
}

In [35]:
dictionary_1

{'Fruit': 'apple', 'price': 120, 'Kg': 1}

In [36]:
dictionary_2=dict(fruit='pineapple',kg=1,price=150)

In [37]:
dictionary_2

{'fruit': 'pineapple', 'kg': 1, 'price': 150}

94.What are keys and values?

* keys are any immutable data type such as number,integer like..
* key is used to get value from dictionary.
* value is mutable data's
* it can be any data

95.How do you access the value associated with a specific key in a dictionary?

Key can also be used to access value using square braces.Syntax variablename["key"]

you can also use get method to access the value associated with key.

In [39]:
dictionary_1["Fruit"]

'apple'

In [41]:
dictionary_1.get('price')

120

96.What happens if you try to access the value for a key that doesn't exist in a dictionary?

if I try to access value for a key that doesn't exist in a dictionary it will give keyError.

In [42]:
dictionary_1['age']

KeyError: 'age'

97.What is the .get method of a dictionary used for?

.Get method is used to access the value associated with key. get method also accpet a default value.

In [43]:
dictionary_2.get('kg')

1

98.How do you change the value associated with a key in a dictionary?

To change the value associated with key in a dictionary use assignment operator.

In [44]:
dictionary_2['kg']=2

In [45]:
dictionary_2

{'fruit': 'pineapple', 'kg': 2, 'price': 150}

99.How do you add or remove a key-value pair in a dictionary?

To add key-value pairs same use assignment operator.
To remove key-value pair in dictionary use pop method.

In [46]:
dictionary_2['bought']=True

In [47]:
dictionary_2

{'fruit': 'pineapple', 'kg': 2, 'price': 150, 'bought': True}

In [48]:
dictionary_2.pop('bought')

True

In [49]:
dictionary_2

{'fruit': 'pineapple', 'kg': 2, 'price': 150}

100.How do you access the keys, values, and key-value pairs within a dictionary?

* To access keys use .keys() function.
* To access values use .values() function.
* To access key-value pairs use .items() function.

In [50]:
dictionary_1.keys()

dict_keys(['Fruit', 'price', 'Kg'])

In [51]:
dictionary_1.values()

dict_values(['apple', 120, 1])

In [52]:
dictionary_1.items()

dict_items([('Fruit', 'apple'), ('price', 120), ('Kg', 1)])

The results of keys, values, and items look like lists.